{% extends 'base.html.twig' %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">CesiZen</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Votre Compagnon pour une Meilleure Santé Mentale !</h2>
                    <a class="btn btn-primary" href="#about">Découvrir</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Commencez votre voyage vers le bien-être</h2>
                    <p class="text-white-50">
                        CESIZen est une plateforme qui vous accompagne dans la gestion de votre stress et la compréhension de votre santé mentale. Notre objectif est de vous fournir des outils pratiques et des informations pertinentes pour vous aider à améliorer votre bien-être mental.</a>
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="assets/img/cesizenlogo.png" alt="..." />
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="{{ asset('assets/img/respiration.png') }}" alt="Exercice de respiration" />
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Exercice de respiration</h4>
                        <p class="text-black-50 mb-0">Découvrez notre exercice de respiration pour améliorer votre bien-être et réduire le stress. Cliquez sur le lien ci-dessous pour accéder à l'exercice et profiter de ses bienfaits.</p>
                        <a class="btn btn-primary" href="{{ path('app_exercices') }}">Commencer l'exercice</a>
                    </div>
                </div>
            </div>
            <!-- Featured Activity Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Activités</h4>
                        <p class="text-black-50 mb-0">Exercez-vous pour être en bonne santé !</p>
                        <a class="btn btn-primary" href="{{ path('app_activites')}}">Commencer l'activité</a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="{{ asset('assets/img/activite.png') }}" alt="Activité de bien-être" />
                </div>
            </div>


        </div>
    </section>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>

{% endblock %}
